// @import "~antd/dist/antd.dark";

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  font-size: 14px;

  background-color: #000;
  color: var(--default-text-color);;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--owncast-purple);

  &:hover {
    color: var(--default-text-color);
  }
}

* {
  box-sizing: border-box;
}
p {
  font-weight: 300;
}
pre {
  display: block;
  padding: 1rem;
  margin: .5rem 0;
  background-color: rgb(44, 44, 44);
  color:lightgrey;
}

code {
  color: var(--owncast-purple);
}


.logo-svg {
  height: 2rem;
  width: 2rem;
}

p.description {
  margin: 1em 0;
  color: #ccc; 
}


.line-chart-container {
  margin: 2em auto;
}

h2.page-title,
h3.page-title
 {
  font-weight: 400;
  font-size: 1.5em;
}
h2.section-title,
h3.section-title {
  font-weight: 400;
  font-size: 1.25em;
}

.form-module {
  // width: 100%;
  // max-width: 500px;
  // min-width: 300px;
  margin: 1em 0;
  background-color: var(--container-bg-color);
  padding: 2em;
  border-radius: var(--container-border-radius);
}
